extends _layout.pug
include _mixins.pug

block content
  div(class=classNames(styles.glider, styles.parallax))
    +pagers()
    +dots(5)
    +slides(5, 'nature_')
      div(class=classNames(styles.cubes))
        - let slices = 18
        while slices--
          div(class=classNames(styles.cube))
