body {
  margin: 0;
  font-family: sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  margin: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
