
:root {
  --padding: 1rem;
  --nav-size: 2rem;
  --pager-size: 3rem;
  --image-size: 100vw; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.glider {
  position: relative;
  width: 100%;
  max-width: var(--image-size);
  height: calc(var(--image-size) / 2);
  margin: auto;
  background: var(--theme-bg);
  color: var(--theme-color);
}

.slides {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.slide {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  padding: var(--padding) var(--nav-size) calc(var(--padding) * 2);
  transform: translate3d(-100%, 0, 0);
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
  user-select: none;

  &.previous {
    z-index: 1;
  }

  &.current {
    z-index: 2;
  }

  &.next {
    z-index: 3;
  }
}

.pagers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 2;

  & .prev,
  & .next {
    position: absolute;
    top: 50%;
    width: 1em;
    height: 2em;
    font-size: var(--nav-size);
    margin: 0 var(--padding);
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: rgba(255, 255, 255, 0.9);
    }
  }

  & .prev {
    left: 0;
  }

  & .next {
    right: 0;
  }
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
  visibility: hidden;
}

.dot {
  position: relative;
  height: var(--pager-size);
  width: var(--pager-size);
  font-size: calc(var(--pager-size) / 3);
  margin: calc(var(--padding) / 4);
  visibility: visible;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    display: block;
    height: 1em;
    width: 1em;
    border-radius: inherit;
    background: rgba(255, 255, 255, 0.5);
  }

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  &.active::before {
    content: '';
    background: rgba(255, 255, 255, 0.9);
  }
}

.pluginLoaded {
  /* plugin loaded */
}

.init {
  /* plugin initialized */
}

.jsWrapper {
  /* slides */
}

.jsSlide {
  /* slide */
}

.jsDot {
  /* dot */
}

.jsNext {
  /* next */
}

.jsPrev {
  /* prev */
}

.multi1 {
  /* multi */
}

.multi2 {
  /* multi */
}

.multi3 {
  /* multi */
}
