
body {
  margin: 0;
  font-family: sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  background: #222;
  color: #fff;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  background-color: #333;
  overflow: auto;
  max-height: 300px;
}

pre .nocode {
  background-color: none;
  color: #000;
} /* no-code          - black        */

pre .str {
  color: #ffa0a0;
} /* string           - pink         */

pre .kwd {
  color: #f0e68c;
  font-weight: bold;
} /* keyword         - lightyellow   */

pre .com {
  color: #87ceeb;
} /* comment         - skyblue       */

pre .typ {
  color: #98fb98;
} /* type            - lightgreen    */

pre .lit {
  color: #cd5c5c;
} /* literal         - darkred       */

pre .pun {
  color: #fff;
} /* punctuation      - white        */

pre .pln {
  color: #fff;
} /* plaintext        - white        */

pre .tag {
  color: #f0e68c;
  font-weight: bold;
} /* html/xml tag     - lightyellow  */

pre .atn {
  color: #bdb76b;
  font-weight: bold;
} /* attribute name   - khaki        */

pre .atv {
  color: #ffa0a0;
} /* attribute value  - pink          */

pre .dec {
  color: #98fb98;
} /* decimal          - lightgreen    */

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
} /* linenums         - lightgrey      */

li.l0li.l1li.l2li.l3li.l5li.l6li.l7li.l8 {
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.glider {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 20em;
  margin: 1rem auto;
  background: #222;
  color: #fff;
}

.slides {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.slide {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 3rem 2rem;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  z-index: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: multiply /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.slide.a {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  z-index: 1;
}

.slide.b,
  .slide.c {
  z-index: 2;
}

.slide.b {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.slide.c {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.ex2 .slide {
}

.ex2 .slide .b {
  z-index: 1;
}

.ex2 .slide .a {
  z-index: 2;
}

.ex2 .slide .c {
  z-index: 3;
}

.yellow {
  background-color: #d69833;
}

.red {
  background-color: #d50035;
}

.green {
  background-color: #43dd55;
}

.blue {
  background-color: #261fd9;
}

.pink {
  background-color: #b425d9;
}

.pagers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 2;
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.dot {
  position: relative;
  height: 2rem;
  width: 2rem;
  margin: 0.25rem;
  visibility: visible;
  border-radius: 50%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none
}

.dot::before {
  content: '';
  position: absolute;
  top: 0.66667rem;
  left: 0.66667rem;
  right: 0.66667rem;
  bottom: 0.66667rem;
  border-radius: inherit;
  background: rgba(255, 255, 255, .3);
}

.dot:hover {
  background: rgba(0, 0, 0, .3);
}

.dot.d::before {
  content: '';
  background: rgba(255, 255, 255, .8);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: 1em;
  height: 2em;
  font-size: 3rem;
  margin: 0 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, .3);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: visible;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none
}

.prev:hover, .next:hover {
  background: rgba(0, 0, 0, .8);
}

.prev {
  right: 100%
}

@media (max-width: 1100px) {

  .prev {
    right: auto;
    left: 0;
  }
  }

.next {
  left: 100%
}

@media (max-width: 1100px) {

  .next {
    left: auto;
    right: 0;
  }
  }

.e .slide {
  /* plugin loaded */
}

.f {
  /* plugin initialized */
}

.jsHook {
  /* slide */
}

.jsWrapper {
  /* slide */
}

.jsDot {
  /* dot */
}

.jsNext {
  /* next */
}

.jsPrev {
  /* prev */
}

.slide h2,
.log {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  margin: 1rem 3rem;
  width: calc(100% - 3rem * 2);
}

.log {
  background: rgba(0, 0, 0, .2);
}
