body {
  margin: 0;
  font-family: sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: currentcolor;
}

.l {
  background: rgb(61, 71, 92);
  color: rgb(224, 228, 235)
}

.l h1 {
  font-weight: lighter;
}

.l a {
  text-decoration: none;
}

.m {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: rgb(163, 173, 194);
  color: rgb(20, 24, 31);
}

.n {
  background: hsl(220, 20%, 50%);
  color: rgb(224, 228, 235);
}

.o {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p {
  border: 1px solid;
  margin: 0.35em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: currentcolor;
  text-decoration: none;
}

.q {
  margin: 1em auto;
}
.a {
  /* slides */
}

.b {
  /* slide */
}

.c {
  /* dot */
}

.d {
  /* pager */
}

.e {
  /* next */
}

.f {
  /* prev */
}

.g {
  /* slider */
}

.h {
  /* caption */
}

.i {
  /* headline */
}

.j {
  /* subline */
}

.k {
  /* description */
}
/***********
 * Composers *
 ***********/
.r {
  position: relative;
}

.s {
  visibility: hidden;
}

.t {
  visibility: visible;
}

.u {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.x {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.y {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.z {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.A {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.B {
}

.C {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.D {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.E {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*************
 * Slideshow *
 *************/

.F {
  width: 100vw;
  max-width: 960px;
  min-width: 320px;
  margin: auto

  /* Slideshow States */
}

.F img {
  max-width: 100%;
}

.F a {
  text-decoration: none;
}

.F.G {

  /* plugin loaded */
}

.F.H {

  /* initialized
     * removed after first interaction
     */
}

/* Slides */

.I {
  z-index: 1;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Dragging State */

.J {
  cursor: -webkit-grab;
  cursor: grab;
}

.K {
  cursor: -webkit-grabbing;
  cursor: grabbing
}

.K * {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.L {
  display: block;
  margin: 0;
  padding: 0;
  will-change: transform

  /* Slide States */
}

.L.M {

  /* current slide */
  position: relative;
}

.L.N {

  /* previous slide */
}

.L.O {

  /* next slide */
}

.P,
.Q {
  display: block;
}

/* Pagers */

.R {
  background: rgb(230, 230, 230);
}

.S {
  margin: 0.25em 0.125em;
  color: rgb(77, 77, 77)

  /* Pager states */
}

.S:hover {
  color: rgb(26, 26, 26);
}

.S.T {

  /* active pager */
}

.U {
  display: block;
  font-size: 1rem;
  height: 1em;
  width: 1em;
  margin: 0.5em;
  border-radius: 50%;
  background: currentcolor;
  will-change: transform, opacity;
}

.V {
  display: block;
  font-size: 5rem;
  width: 1em;
  will-change: transform, opacity;
}

/* Navigation */

.W {
  z-index: 10;
  mix-blend-mode: screen
}

@media (max-width: 30em) {
  .W {
    display: none;
  }
  }

.X {
  height: 100%;
  font-size: 3rem;
  color: rgba(255, 255, 255, .75)

  /* Button states */
}

.X:hover {
  color: rgba(255, 255, 255, 1);
}

.X.Y {

  /* disabled button */
  cursor: default;
  opacity: 0.25;
  color: rgba(255, 255, 255, 1);
}

.Z {
}

.aa {
}

.ab {
  font-size: 0.7rem
}

@media screen and (min-width: 20rem) {
  .ab {
    font-size: calc(0.7rem + 0.7 * ((100vw - 20rem) / 30));
  }
  }

@media screen and (min-width: 50rem) {
  .ab {
    font-size: 1.4rem;
  }
  }

.ac {
  background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  color: #fff;
  padding: 1em calc(3rem + 1em);
  overflow: hidden;
  will-change: transform
}

@media (max-width: 30em) {
  .ac {
    padding: 1em;
  }
  }

.ad {
  font-weight: lighter;
  font-size: 1.5em;
  margin: 0 0 1rem;
  will-change: opacity;
}

.ae {
  font-weight: lighter;
  font-size: 1.2em;
  margin: 0 0 1rem;
  will-change: opacity;
}

.af {
  font-size: 0.7em;
  will-change: transform
}

@media (max-width: 30em) {
  .af {
    display: none;
  }
  }

.ag {
  font-weight: bolder;
}
