body {
  margin: 0;
  font-family: sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  margin: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

:root { /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.w {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 50vw;
  margin: auto;
  background: var(--theme-bg);
  color: var(--theme-color);
}

.x {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.y {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem 2rem;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none
}

.y.z {
 z-index: 1;
}

.y.A {
 z-index: 2;
}

.y.B {
 z-index: 3;
}

.C {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 2
}

.C .D,
  .C .B {
 position: absolute;
 top: 50%;
 width: 1em;
 height: 2em;
 font-size: 2rem;
 margin: 0 1rem;
 -webkit-transform: translateY(-50%);
         transform: translateY(-50%);
 background: rgba(255, 255, 255, .5);
 color: #000;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 visibility: visible;
 cursor: pointer;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}

.C .D:hover, .C .B:hover {
 background: rgba(255, 255, 255, .9);
}

.C .D {
 left: 0;
}

.C .B {
 right: 0;
}

.E {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  visibility: hidden;
}

.F {
  position: relative;
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  margin: 0.25rem;
  visibility: visible;
  border-radius: 50%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}

.F::before {
 content: '';
 display: block;
 height: 1em;
 width: 1em;
 border-radius: inherit;
 background: rgba(255, 255, 255, .5);
}

.F:hover {
 background: rgba(0, 0, 0, .3);
}

.F.G::before {
 content: '';
 background: rgba(255, 255, 255, .9);
}

.H {
  /* plugin loaded */
}

.I {
  /* plugin initialized */
}

.J {
  /* slides */
}

.K {
  /* slide */
}

.L {
  /* dot */
}

.M {
  /* next */
}

.N {
  /* prev */
}

.O {
  /* multi */
}

.P {
  /* multi */
}

.Q {
  /* multi */
}
